.home-container{
    
    display: flex;
    flex-direction: column;
}
.home-nav {
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.home-nav2 input {
    width: 500px;
    border-radius: 5px;
}

.home-nav2 button {
    background-color: black;
    width: 100px;
    height: 27px;
    border-radius: 5px;
    color: white;
}

.home-nav2 button:hover {
    background-color: rgb(124, 123, 123);
}

.home-nav2 a:hover {
    background-color: rgb(233, 174, 151);
    border-radius: 5px;
}

.home-nav2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
   
}

.home-nav2 a {
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.home-nav a {
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.home-nav a:hover {
    background-color: rgb(233, 174, 151);
    padding-bottom: 5px;
}

.carrinho {
    height: 40px;
    width: 50px;
    border-radius: 50%;
}
.home-menu{
    background-color: rgb(195, 129, 103);
}
.footer-container {
    background-color: rgb(195, 129, 103);
    color: white;
    display: flex;
    justify-content: center;
    padding: 30px;
}
.footer-container p{
    margin: 30px;
    font-size: 20px;
    font-weight: 500;
}
